@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

html {
	font-family: 'Josefin Sans', sans-serif;
}

h1 {
	font-size: 1.75em;
	font-family: 'Josefin Sans', sans-serif; ;
}

header {
	padding: 0.5em;
	text-align: center;
	background-color: turquoise;
}

main {
	margin-top: 3em;
}

#logo {
	height: 24px;
}

.container {
	max-width: 720px;
	padding: 0.5em;
	margin: 0 auto;
}

select {
	font-size: 1em;
}

#bird-section {
	background-color: #f1f1f1;
	padding: 1em;
	border-radius: 1em;
}

#bird-name {
	text-align: center;
}

#bird-image-div {
	display: flex;
	margin: 2em;
}

#bird-image {
	width: 100%;
	margin: 0 auto;
	border-radius: 1em;
}

#bird-info {
	text-align: justify;
}

#gallery img {
	height: 200px;
}

.gallery-wrapper {
	overflow-x: auto;
	height: 240px;
	background-color: #f1f1f1;
	border-radius: 10px;
	padding: 0.5em;
}

.gallery {
	display: flex;
	flex-flow: row;
	flex-wrap: nowrap;
	gap: 15px;
}

.image-year {
	width: 100%;
	text-align: center;
}

#mychart {
	width: 100%;
	min-height: 500px;
}